*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header 
{
    height: 600px;
    background-color: gray;
    background-image: url(./../images/shell.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: local;
    padding: 10px;
    text-align: center;
  }

  h1 {
    color: #926239;
    margin: 10px;
  }

  h2
  {
    display: inline;
    color: #926239;
    padding: 20px;
    margin: 20px;
    font-size: 15px;
    font-weight: normal;
  }

  button
  {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    color: #926239;
    font-size: 15px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid #926239;
  }

  button:hover
  {
    background-color: #926239;
    color: white; 
  }

  p
  {
    display: block;
    background-color: #926239;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    color: white;
  }

  a
  {
    display: block;
    background-color: white;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    color: #926239;
  }

  .parent1
  {
    font-size: 0;
  }

  .child1, .child2
  {
    display: inline-block;
    width: calc(100% / 3);
    font-size: 15px;
    padding: 20px;
  }
  
  .child1
  {
    background-color: #926239;
    color: white;
  }

  .child2
  {
    background-color: white;
    color: #926239;
  }