* 
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header {
    height: 300px;
  
    background-color: grey;
    background-image: url(./../images/shell.jpg)
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
  }

  h1 {
    color: #926239;
    margin: 50px;
  }
  