*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header 
{
    height: 600px;
    background-color: gray;
    background-image: url(./../images/shell.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: local;
    padding: 10px;
    text-align: center;
  }

  h1 {
    color: #926239;
    margin: 10px;
  }

  p
  {
    color: #926239;
    padding: 10px;
    
  }
  button
  {
    
    
    margin: 30px;
    padding: 15px 20px;
    color: #926239;
    font-size: 15px;
    border-radius: 12px;
    background-color: white;
  }
  button:hover
  {
    background-color: #926239;
    color: white; 
  }